#products {
  background-color: #1c1c1c;
}

#products #container_contents {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  text-align: left;
}

#products #container_contents .product {
  flex-basis: 14.2857142857%;
  padding: 10px;
}

#products #container_contents .product img {
  max-width: 100%;
}

#products #container_contents .product h5 {
  color: white;
}

